
#firstimage {
    width: 100%;
    height: auto;
  }
  
  @media (min-width: 768px) {
    #firstimage {
      width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    #firstimage {
      width: 80%;
      margin-left: 150px;
    }
  }
  

.navbar-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51%;
}

.navbar {
    position: relative;
    width: 524px;
    height: 30px;
    background: #cfcfcf;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    margin-top: 20px;
}

.navbar-inside {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #78db96;
    text-decoration: none;
    padding: 1px 20px;
    margin-bottom: 10px;
    z-index: 1;
}

.navbar-span {
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #d4d4d4, #9c9c9c);
    border-radius: 8px;
}


.navbar-inside:nth-child(1):hover~span{
    left: 0;
}
.navbar-inside:nth-child(2):hover~span{
    left: 95px;
}
.navbar-inside:nth-child(3):hover~span{
    left: 189px;
    width: 110px;
}
.navbar-inside:nth-child(4):hover~span{
    left: 289px;
    width: 115px;
}
.navbar-inside:nth-child(5):hover~span{
    left: 413px;
    width: 110px;
}
.nav-link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.just-text{
    margin-left: 390px;
    padding-top: 95px;
}
#text{
    background-color: #e9e3e3;
    width: 320px;
    padding-left: 9px;
    border-radius: 20px;
}

@media (min-width: 500px) {
    #text {
      margin-left: 65px;
    }
  }

@media (min-width: 550px) {
    #text {
      margin-left: 70px;
    }
  }

@media (min-width: 600px) {
    #text {
      margin-left: 65px;
    }
  }

@media (min-width: 768px) {
    #text {
      margin-left: 165px;
    }
  }
  
  @media (min-width: 992px) {
    #text {
      margin-left: 400px;
    }
  }

#drink-name{
    font-size: calc(2.375rem + 1.5vw);
    color: #446a44;

}

@media (min-width: 992px) {
    .drink-name-div {
        margin-top: -290px;
        padding-bottom: 140px;
        margin-left: -82px;
    }
  }

#paragraph{
    margin-left: 0px;
}

#secondimage{
    border-radius: 25px;
    height: 140px;
}

@media (min-width: 500px) {
    #secondimage {
        margin-left: 360px;
        margin-top: -565px;
        width: 85px;
        height: auto;
    }
  }

@media (min-width: 550px) {
    #secondimage {
        margin-left: 400px;
        margin-top: -550px;
    }
  }

@media (min-width: 600px) {
    #secondimage {
        margin-left: 450px;
        margin-top: -615px;
    }
  }

@media (min-width: 768px) {
    #secondimage {
        margin-left: 670px;
        margin-top: -990px;
    }
  }

@media (min-width: 992px) {
    #secondimage {
        margin-left: 1050px;
        margin-top: -1050px;
    }
  }

#stars{
    margin-left: 1px;
}

@media (min-width: 500px) {
    #stars {
        margin-left: 360px;
        margin-top: -500px;
        width: 85px;
        height: auto;
    }
  }

@media (min-width: 550px) {
    #stars {
        margin-left: 400px;
        margin-top: -480px;
    }
  }

@media (min-width: 600px) {
    #stars {
        margin-left: 450px;
        margin-top: -540px;
    }
  }

@media (min-width: 768px) {
    #stars {
        margin-left: 670px;
        margin-top: -915px;
    }
  }

@media (min-width: 992px) {
    #stars {
        margin-left: 1050px;
        margin-top: -975px;
    }
  }

#review{
    color: #446a44;
}

@media (min-width: 500px) {
    #review {
        margin-left: 360px;
        margin-top: -255px;
        font-size: small;
    }
  }

@media (min-width: 550px) {
    #review {
        margin-left: 400px;
        margin-top: -240px;
    }
  }

@media (min-width: 600px) {
    #review {
        margin-left: 450px;
        margin-top: -275px;
    }
  }

@media (min-width: 768px) {
    #review {
        margin-left: 670px;
        margin-top: -460px;
    }
  }

@media (min-width: 992px) {
    #review {
        margin-left: 1050px;
        margin-top: -490px;
    }
  }
